{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}
{% include "header.html" %}
 <div class="container">
    <div class="row">

      <div class="col-lg-8 col-md-10 mx-auto content">
        {% with messages = get_flashed_messages() %}
          {% if messages %}
              {% for message in messages %}
                  <p>{{ message }}</p>
              {% endfor %}
          {% endif %}
        {% endwith %}
          <br>
          <br>
          <br>
          <br>
           {{ wtf.quick_form(form, novalidate=True, button_map={"submit": "primary"}) }}
          <h1 style="color:blue;text-align:center">Present Todo List</h1>

       {% for post in all_posts %}
        <div class="post-preview">

           <p> <h2 class="post-title">
            <span style="color:red">{{post.Date.split()[0]}} </span>{{post.text}}

            </h2>

            <a href="{{url_for('delete_post', post_id=post.id) }}">✅</a>



        </div>
        <hr>
        {% endfor %}
      </div>

    </div>
  </div>

{% include "footer.html" %}
{% endblock %}